<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="password" name="old_password"> Old password</label>
        <input type="password" name="old_password">
        <label for="password" name="new_password1">New password</label>
        <input type="password" name="new_password1">
        <label for="password" name="new_password2"> Confirm password</label>
        <input type="password" name="new_password2">
        <button>Submit</button>
        
    </form>
</body>
</body>
</html>